body {
  background-color: #123456b0;
  font-family: 'Courier Prime', monospace;
}

.BGimg {
  background-image: url(./imgs/mainBG.jpg);
  background-position: top;
  object-fit: scale-down;
}

.title {
  font-family: 'Pixelify Sans', cursive;
  font-size: 72px;
}