body {
  background-color: #123456b0;
  font-family: 'Courier Prime', monospace;
  font-size: 20px;
  user-select: none;
}

p {
  margin: 0;
}

.BGimg {
  background-image: url(./imgs/mainBG.jpg);
  background-position: top;
  object-fit: scale-down;
}

.blueBG {
  background-color: #123456b0;
  color: whitesmoke;
}

.upgradeMenu {
  font-size: 1rem;
}

.screen {
  width: 635px;
  height: 450px;
  margin-top: -16px;
}

.title {
  font-family: 'Pixelify Sans', cursive;
  font-size: 72px;
  margin: -15px 0;
}

.dashed {
  margin: -14px 0;
  padding: 0;
  text-align: center;
}

.grandTotal {
  width: 670px;
  height: 60px;
  padding-top: 1rem;
}

.mouseWheel img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.mouseDPI {
  width: 100%;
}

@media (max-width:1625px) {
  .grandTotal {
    padding-top: 0;
    width: 670px;
    height: 60px;
  }
}

@media (max-width:500px) {
  .screen {
    width: 460px;
  }

  .padMe {
    display: none;
  }
}